* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right,#a39d99, #6b5b59, #3d2127 );
}

.container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 40px;
  border: 1px solid red;
}

.cards {
  width: 350px;
  min-width: 350px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 16px -6px black;
}

.cards__img {
  margin: 0;
  padding: 0;
  height: 300px;
  background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%,
  rgba(175, 135, 124, 1) 65%,
  rgba(175, 135, 124, 1) 100%);
  border-radius: 15px 15px 0 0;
  position: relative;
}

.barbaro1 {
  width: 580px;
  height: 420px;
  filter: drop-shadow(2px 2px 10px #000);
  position: absolute;
  left: -120px;
  right: 1px;
  bottom: -50px;
}

.cards__texts {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
  padding: 30px 0 30px;
  border-top: 1px solid #FFFDFB;
}

.cards__level {
  text-transform: uppercase;
  color: #ec9c3c;
  margin-bottom: 5px;
}


.cards__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 25px 25px 0;
  color: #9A9A9A;
}

.cards__skills {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
  background-color: #ec9c3c;
  border-radius: 0 0 15px 15px;
  margin: 0;
  padding: 0;
  color:#fff;
  border-top: 1px solid #de9337;
}

.skills__trainer {
  display: inline-block;
  width: 32.3%;
  margin: 0;
  padding: 20px;
  border-right: 1px solid #de9337;
}

.skills__speed {
  display: inline-block;
  width: 32.3%;
  padding: 20px;
  padding-top: 23px;
  border-right: 1px solid #de9337;
}

.skills__cost {
  display: inline-block;
  width: 32.3%;
  margin: 0;
  padding: 20px;
}

.cards--card2 {
  position: relative;
  bottom: 40px;
}

.cards__img--card2 {
  background: linear-gradient(to bottom, #dfa8a8 0%,
  #724840 65%,
  #dd608c 100%);
}

.cards__level--card2 {
  color:#ee5488;
}

.cards__skills--card2 {
  background-color: #ee5488;
  border-top: 1px solid #be3d69;
}

.skills__trainer--card2 {
  border-right: 1px solid #be3d69;
}

.skills__speed--card2 {
  border-right: 1px solid #be3d69;
}
